<div class="card">
  <div class="card-header">
    <h4>About Us</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Meet the Maker</h5>
    <p class="card-text">Nice App.</p>
    <hr class="my-4">
    <h5 class="card-title">More about the Company</h5>
    <h6 class="card-text">This is a neat app</h6>
  </div>
</div>
