<div class="card">
  <div class="card-header">
    <h4>About Us</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Meet the Maker</h5>
    <p class="card-text">Carti is an aspiring webapp developer. He works as a freelancer at the moment, however he would like to one day achieve a job at google and maybe pursue higher education.</p>
    <hr class="my-4">
    <h5 class="card-title">More about the Company</h5>
    <h6 class="card-text">This app started off as a mere passion project, however it soon evolved into the mass media giant it is today. The team at Cart is truly astonished with what our hard work has become. We cannot thank our users enough, as without them, this would never have been possible. You guys made the entire crew's dreams come true. Thank you all <3</h6>
  </div>
</div>
